In [2]:
#####################################################  LIST   #####################################################

L=[]  #Empty list
L

[]

In [4]:
L=[1,2,3]
L

[1, 2, 3]

In [5]:
L=[1,2,'a',4]
L

[1, 2, 'a', 4]

In [6]:
l=['one','two','three']
l

['one', 'two', 'three']

In [7]:
#creating list from string
l=list("hello")
l

['h', 'e', 'l', 'l', 'o']

In [11]:
#creating list from string
t=('h', 'e', 'l', 'l', 'o')
l=list(t)
l

['h', 'e', 'l', 'l', 'o']

In [14]:
#Input the List elemenents as string
l=list(input("Enter"))
l

Enter232332

['2', '3', '2', '3', '3', '2']

In [16]:
#joining list(concatenation)
l1=[1,3,4,5]
l2=[3,55,564]
l=l1+l2
l

[1, 3, 4, 5, 3, 55, 564]

In [17]:
#Repeating 
l=[1,2,3]
3*l

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [25]:
#slicing

l=[2,4,5,53,2,6,5,4,3,5,6,64,4,3,3]

l=l[2:-3]
l

[5, 53, 2, 6, 5, 4, 3, 5, 6, 64]

In [27]:
#append
l=[1,2,3,4,5]
l.append(3)
l

[1, 2, 3, 4, 5, 3]

In [30]:
#extend

l=[1,2,3,4,5]
l1=[4,5,4,3,3]
l.extend(l1)
l

[1, 2, 3, 4, 5, 4, 5, 4, 3, 3]

In [32]:
#insert

l=[1,3,4,5,3,5,3,3]
l.insert(-4,199)
l

[1, 3, 4, 5, 199, 3, 5, 3, 3]

In [54]:
#pop

l=[1,2,4,4,3,4,3,4,3]
l.pop(4)

4

In [35]:
# remove

l=[2,4,5,4,3,3,5,57,3]
l.remove(3)
l

[2, 4, 5, 4, 3, 5, 57, 3]

In [38]:
l.reverse()
l

[3, 57, 5, 3, 4, 5, 4, 2]

In [40]:
l.sort()
l

[2, 3, 3, 4, 4, 5, 5, 57]

In [ ]:
##################################   TUPLES ###############################################################

In [43]:
t=()
t

()

In [45]:
t=(1,2,3,4)
t

(1, 2, 3, 4)

In [46]:
t=(1,3,4,'s')
t

(1, 3, 4, 's')

In [48]:
t=tuple("hello")
t

('h', 'e', 'l', 'l', 'o')

In [49]:
#joining

t1=(3,4,3)
t2=(3,4,3,2)
t=t1+t2
t

(3, 4, 3, 3, 4, 3, 2)

In [50]:
#Replicating

t=(4,4,6,6)
3*t

(4, 4, 6, 6, 4, 4, 6, 6, 4, 4, 6, 6)

In [52]:
#slicing

t=(4,5,5,4,54,5,6,4,5,5,4,5,565,5,3)
t[3:-5]

(4, 54, 5, 6, 4, 5, 5)

In [56]:
len(t)

15

In [57]:
max(t)

565

In [58]:
min(t)

3

In [ ]:
######################################   DICTIONARY  ################################################

In [59]:
a={'a':1,'b': 3,'c':4}

In [60]:
#Accessing dictionary values
a['a']

1

In [62]:
a['a']=33
a

{'a': 33, 'b': 3, 'c': 4}

In [63]:
for x in a:
  print(x)

a
b
c

In [65]:
for x in a.values():
  print(x)

33
3
4

In [66]:
for x, y in a.items():
  print(x, y)

a 33
b 3
c 4

In [79]:
a['e']=4
a

{'a': 33, 'b': 3, 'c': 4, 'e': 4}

In [73]:
len(a)

4

In [80]:
a.pop('e')

4

In [ ]:
##########################################################   set   ######################################

In [82]:
s={}
s

{}

In [84]:
Months={"Jan","Feb","Mar"}
Months

{'Feb', 'Jan', 'Mar'}

In [109]:
 
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
 
for d in Days:
   print(d)

Thu
Sat
Mon
Tue
Wed
Fri

In [112]:
# Adding element to set
Days.add("Sun")
print(Days)

{'Thu', 'Sat', 'Mon', 'Tue', 'Wed', 'Sun', 'Fri'}

In [113]:
#Removing element from the set
Days.discard("Sun")
print(Days
     )

{'Thu', 'Sat', 'Mon', 'Tue', 'Wed', 'Fri'}

In [115]:
#union of sets

DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA|DaysB
AllDays

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [117]:
#Intersection of two sets
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA & DaysB
AllDays

{'Wed'}

In [118]:
#difference of two sets
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA - DaysB
AllDays

{'Mon', 'Tue'}

In [ ]:
################################### lamda function ##########################################

In [119]:
x = lambda a, b : a * b
x(5, 6)

30