In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Automobile_data.csv')

**<font size="5">Question 1</font>**

In [3]:
data.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [4]:
data.tail()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

**<font size="5">Question 2</font>**

In [5]:
data.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [6]:
data['price'].fillna('NaN')

0     13495
1     16500
2     16500
3     13950
4     17450
5     15250
6     18920
7     16430
8     16925
9     20970
10    30760
11    41315
12    36880
13     5151
14     6295
15     6575
16     6377
17     6229
18     7295
19    12945
20    10345
21     6785
22      NaN
23      NaN
24    32250
25    35550
26    36000
27     5195
28     6095
29     6795
      ...
31    18344
32    25552
33    28248
34    40960
35    45400
36     5389
37     6189
38     6989
39     8189
40     7099
41     6649
42     6849
43     7349
44    13499
45    34028
46    37028
47      NaN
48     5348
49     6338
50     6488
51     6918
52     7898
53     8778
54    15750
55     7775
56     7975
57     7995
58     9995
59    12940
60    13415
Name: price, Length: 61, dtype: object

**<font size="5">Question 3</font>**

In [22]:
maxi = data['price'].max()
for i in range(0,61):
    if data['price'][i]==maxi:
        print(data['company'][i])
        print(data['price'][i])

mercedes-benz
45400.0

**<font size="5">Question 4</font>**

In [36]:
for i in range(61):
    if data['company'][i]=='toyota':
        print(data.iloc[i,:].values)

[66 'toyota' 'hatchback' 95.7 158.7 'ohc' 'four' 62 35 5348.0]
[67 'toyota' 'hatchback' 95.7 158.7 'ohc' 'four' 62 31 6338.0]
[68 'toyota' 'hatchback' 95.7 158.7 'ohc' 'four' 62 31 6488.0]
[69 'toyota' 'wagon' 95.7 169.7 'ohc' 'four' 62 31 6918.0]
[70 'toyota' 'wagon' 95.7 169.7 'ohc' 'four' 62 27 7898.0]
[71 'toyota' 'wagon' 95.7 169.7 'ohc' 'four' 62 27 8778.0]
[79 'toyota' 'wagon' 104.5 187.8 'dohc' 'six' 156 19 15750.0]

**<font size="5">Question 5</font>**

In [37]:
data['company'].value_counts()

toyota           7
bmw              6
nissan           5
mazda            5
mitsubishi       4
audi             4
mercedes-benz    4
volkswagen       4
porsche          3
honda            3
chevrolet        3
isuzu            3
jaguar           3
alfa-romero      3
dodge            2
volvo            2
Name: company, dtype: int64

**<font size="5">Question 6</font>**

In [51]:
data_unique = data['company'].unique()
data_unique

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mitsubishi',
       'nissan', 'porsche', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [58]:
for j in range(16):
    for i in range(61):
        if data['company'][i]==data_unique[j]:
            list_price=data['price'][i]
    print(data_unique[j],"-->",list_price.max())

alfa-romero --> 16500.0
audi --> 18920.0
bmw --> 36880.0
chevrolet --> 6575.0
dodge --> 6229.0
honda --> 10345.0
isuzu --> nan
jaguar --> 36000.0
mazda --> 18344.0
mercedes-benz --> 45400.0
mitsubishi --> 8189.0
nissan --> 13499.0
porsche --> nan
toyota --> 15750.0
volkswagen --> 9995.0
volvo --> 13415.0

**<font size="5">Question 7</font>**

In [60]:
for j in range(16):
    for i in range(61):
        if data['company'][i]==data_unique[j]:
            list_price=data['average-mileage'][i]
    print(data_unique[j],"-->",list_price.mean())

alfa-romero --> 19.0
audi --> 19.0
bmw --> 15.0
chevrolet --> 38.0
dodge --> 31.0
honda --> 25.0
isuzu --> 38.0
jaguar --> 13.0
mazda --> 31.0
mercedes-benz --> 14.0
mitsubishi --> 25.0
nissan --> 19.0
porsche --> 17.0
toyota --> 19.0
volkswagen --> 26.0
volvo --> 23.0

**<font size="5">Question 8</font>**

In [71]:
data.sort_values(['price'])

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
13,16,chevrolet,hatchback,88.4,141.1,ohc,three,48,47,5151.0
27,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
37,50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
17,20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
16,19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
41,54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
29,38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
42,55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
38,51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
40,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
43,56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
39,52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
30,39,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
...,...,...,...,...,...,...,...,...,...,...
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
44,57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
31,43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
32,44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
33,45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
24,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
45,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
25,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
26,35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
46,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
34,46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
22,31,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
23,32,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
47,63,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,NaN

**<font size="5">Question 9</font>**

In [72]:
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}

In [75]:
data_g = pd.DataFrame.from_dict(GermanCars)
data_j = pd.DataFrame.from_dict(japaneseCars)

In [79]:
data_con = pd.concat([data_g,data_j])

In [84]:
index=[0,1,2,3,4,5,6,7]
data_con['index']=index

In [85]:
data_con.set_index('index')

           Company   Price
index
0             Ford   23845
1         Mercedes  171995
2              BMV  135925
3             Audi   71400
4           Toyota   29995
5            Honda   23600
6           Nissan   61500
7      Mitsubishi    58900

**<font size="5">Question 10</font>**

In [86]:
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

In [87]:
data_c = pd.DataFrame.from_dict(Car_Price)
data_j = pd.DataFrame.from_dict(car_Horsepower)

In [91]:
pd.merge(data_c,data_j)

  Company   Price  horsepower
0  Toyota   23845         141
1   Honda   17995          80
2     BMV  135925         182
3    Audi   71400         160

**<font size="5">Competed! Thanks.</font>**